.shop-area{
   
    display: flex;
}


.shop-filter-options{
    list-style: none;
    justify-self: center;
    width: 25%;

}

.shop-filter-options > li{
    border-bottom: 1px solid #ff4655;
    padding: 4px;
}

.shop-filter-options > li:hover{
    border-bottom: 1px solid #ff4655;
    background-color: #ff4655;
    font-size: 24px;
    cursor: pointer;
}