
@font-face {
    font-family: 'Roboto-Mono';
    src: url('./Roboto_Mono/static/RobotoMono-Regular.ttf');
}

.shop-area{
   
    display: flex;
}


.shop-filter-options{
    list-style: none;
    justify-self: center;
    width: 140px;
    font-size: 20px;
    font-family: Roboto-Mono;

}

.shop-filter-options > li{
    border-bottom: 1px solid #ff4655;
    padding: 4px;
}

.shop-filter-options > li:hover{
    border-bottom: 1px solid #ff4655;
    color:white;
    background-color: #ff4655;
    font-size: 24px;
    cursor: pointer;
}

.sort-header{
    display: inline-block;
    padding-left: 40px;
    width: 175px;
    font-family: Roboto-Mono;
}

.shop-sidebar{
    width: 200px;
    padding-left: 40px;
}