@font-face {
    font-family: 'Roboto-Mono';
    src: url('./Roboto_Mono/static/RobotoMono-Regular.ttf');
}

.cart-item-card{
    width: 800px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    font-family: Roboto-Mono;
}

.cart-item-card > img{
    width: 25%;
    margin-right: 10px;
    margin-left: 10px;

}

.item-info{
    margin-right: 20px;
    font-family: Roboto-Mono;
}

.item-cost{
    margin-left: auto;
    margin-right: 20px;
}

.item-info > p{

    margin: 0;
}

.delete-item{
    padding-right: 12px;
    cursor: pointer;
}

.delete-item:hover{
    color: #ff4655;
}