@font-face {
    font-family: 'Valo';
    src: url('./fonts/Valorant\ Font.ttf');
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #ff4655;
    color: white;
    font-family: Valo;
    
}

.link-holder{
    display: flex;
    padding-right: 250px;
    padding-bottom: 28px;
    list-style: none;
    height: 100%;
    align-items: center;
    margin-top: 0;
}

.link{
    margin-right: 100px;
    padding-right: 4px;
    padding-left: 4px;
    height: 100%;
    text-decoration: none;
    color: white;
}

.website-title{
    margin-left: 260px;
    
    
}

.cart-icon{
    margin-right: 4px;
}