.header{
    display: flex;
    justify-content: space-between;
    color: #ff4655;
    
}

.link-holder{
    display: flex;
    padding-right: 250px;
    padding-bottom: 28px;
    list-style: none;
    height: 100%;
    align-items: center;
    margin-top: 0;
}

.link{
    margin-right: 100px;
    padding-right: 4px;
    padding-left: 4px;
    height: 100%;
    text-decoration: none;
    color: #ff4655;
}

.website-title{
    margin-left: 260px;
    
    
}

.cart-icon{
    margin-right: 4px;
}