.home-container{
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.featured-items{
    border: 1px solid #ff4655;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.featured-label{
    
    width: 80%;
}

.featured-image{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.featImage{
    width: 75%;
}