.item-gallery{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    padding-left: 40px;
    padding-right: 0px;
    padding-bottom: 60px;
    
}

.row{
    display: flex;
    flex-direction: row;
}