
.item-card{
    width: 300px;
    padding: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    box-shadow: 10px 5px 5px #ff4655;
    background-color: #f2eeeb;
}

.item-card > img{
    width: 50%;

}

.item-card-buttons{
    margin-top: 5px;
}

.item-card-link{
    margin-left: 4px;
    font: 13.3333px Arial;
    text-decoration: none;
    background-color: #F0F0F0;
    color: #333333;
    padding: 1px 6px 1px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-width: 2px;
}