
.item-card{
    width: 300px;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.item-card > img{
    width: 50%;

}