@font-face {
    font-family: 'Valo';
    src: url('./fonts/Valorant\ Font.ttf');
}

@font-face {
    font-family: 'Roboto-Mono';
    src: url('./Roboto_Mono/static/RobotoMono-Regular.ttf');
}

.item-card{
    width: 300px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 30px;
    background-color: #f2eeeb;
    /* border: 1px solid black; */
}

.item-card-name{
    padding-top: 10px;
    font-family: Valo;
}

.item-card-price{
    padding-top: 10px;
    justify-self: flex-end;
    font-family: Roboto-Mono;
}
.item-card:hover{
    box-shadow: 10px 5px 5px #ff4655;
    cursor: pointer;
    color: #ff4655;
}

.item-card-image > img{

    width: 90%;
    align-self: center;
}

.item-card-image{
    width: 90%;
    height: 40%;
    padding-top: 20px;
}

.item-card-buttons{
    margin-top: 5px;
}

.item-card-link{
    margin-left: 4px;
    font: 13.3333px Arial;
    text-decoration: none;
    background-color: #F0F0F0;
    color: #333333;
    padding: 1px 6px 1px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-width: 2px;
}

.item-card-price{
    color: black;
}