@font-face {
    font-family: 'Valo';
    src: url('./fonts/Valorant\ Font.ttf');
}

@font-face {
    font-family: 'Roboto-Mono';
    src: url('./Roboto_Mono/static/RobotoMono-Regular.ttf');
}

.item-details{
    width: 100%;
    height: calc(100% - 85.88px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.item-image-descriptors{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}
.item-image{
    margin-left: 60px;
    
}

.item-name{
    font-family: Valo;
}

.item-cost{
    font-family: Roboto-Mono;
}
.item-descriptors{
    font-size: xx-large;
    font-weight: bold;
    margin-top: 4px;
}

.item-descriptors > p{
    margin: 0;
}

.cart-button, .return-button{
    background-color: grey;
    display: flex;
    justify-content: center;
    width: 500px;
    padding: 20px;
    color: white;
    border: none;
    font-size: large;
    font-family: Roboto-Mono;
}

.cart-button{
    margin-bottom: 15px;
}

.cart-button:hover, .return-button:hover{
    background-color: #ff4655;
    cursor: pointer;
}

